flows (2).json
[{"id":"f583fdf2.6a17a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ed8f1d2.29a59","type":"mqtt-broker","name":"Serveur mosquitto ordi loic","broker":"192.168.43.93","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56924080.54dbf","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cffb211d.42347","type":"ui_tab","name":"Projet TR54 : Dashboard groupe 3 - Corentin MENIER & Thomas EL HAJ HUSSEIN & Loïc MARTIN","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb4004ad.ebe558","type":"ui_group","name":"Robot 1","tab":"cffb211d.42347","order":1,"disp":true,"width":"6","collapse":false},{"id":"8092dda6.44807","type":"ui_group","name":"Robot 2","tab":"cffb211d.42347","order":2,"disp":true,"width":"6","collapse":false},{"id":"5c4d701d.bd0ad","type":"ui_group","name":"Robot 3","tab":"cffb211d.42347","order":3,"disp":true,"width":"6","collapse":false},{"id":"5931520.19d2db","type":"ui_group","name":"Croisement","tab":"cffb211d.42347","order":5,"disp":true,"width":8,"collapse":false},{"id":"7abd0134.3cd9","type":"ui_group","name":"Reset","tab":"cffb211d.42347","order":6,"disp":false,"width":"6","collapse":false},{"id":"73f83582.a9524c","type":"ui_group","name":"Circuit","tab":"cffb211d.42347","order":4,"disp":false,"width":10,"collapse":false},{"id":"52323b48.8d3d44","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/vitesse","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":80,"wires":[["e38bbb73.6c4338"]]},{"id":"e38bbb73.6c4338","type":"ui_gauge","z":"f583fdf2.6a17a","name":"","group":"fb4004ad.ebe558","order":1,"width":0,"height":0,"gtype":"gage","title":"Vitesse","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":80,"wires":[]},{"id":"55630ef9.3471f","type":"ui_gauge","z":"f583fdf2.6a17a","name":"","group":"8092dda6.44807","order":1,"width":0,"height":0,"gtype":"gage","title":"Vitesse","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":140,"wires":[]},{"id":"aa8d26e4.36cfb8","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/vitesse","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":140,"wires":[["55630ef9.3471f"]]},{"id":"4870d53c.fd0e0c","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/position","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":570,"y":140,"wires":[["2eb9b322.c359cc"]]},{"id":"109cdd85.4c9722","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/position","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":570,"y":80,"wires":[["6b64c530.33448c"]]},{"id":"6b64c530.33448c","type":"ui_text","z":"f583fdf2.6a17a","group":"fb4004ad.ebe558","order":2,"width":0,"height":0,"name":"","label":"Emplacement du robot : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":80,"wires":[]},{"id":"2eb9b322.c359cc","type":"ui_text","z":"f583fdf2.6a17a","group":"8092dda6.44807","order":2,"width":0,"height":0,"name":"","label":"Emplacement du robot : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":140,"wires":[]},{"id":"3525bea7.da0442","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/vitesse","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":200,"wires":[["c41a2ab6.915968"]]},{"id":"c5b69e93.170b6","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/position","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":570,"y":200,"wires":[["21b8de34.4a0992"]]},{"id":"21b8de34.4a0992","type":"ui_text","z":"f583fdf2.6a17a","group":"5c4d701d.bd0ad","order":2,"width":0,"height":0,"name":"","label":"Emplacement du robot : ","format":"{{msg.payload}}","layout":"row-center","x":810,"y":200,"wires":[]},{"id":"c41a2ab6.915968","type":"ui_gauge","z":"f583fdf2.6a17a","name":"","group":"5c4d701d.bd0ad","order":1,"width":0,"height":0,"gtype":"gage","title":"Vitesse","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"5f31dd4c.7a2a34","type":"ui_text","z":"f583fdf2.6a17a","group":"5931520.19d2db","order":1,"width":0,"height":0,"name":"","label":"List FIFO : ","format":"{{msg.payload}}","layout":"row-left","x":870,"y":340,"wires":[]},{"id":"a1273f33.72654","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/action","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":400,"wires":[["cd66a9d.131eb58"]]},{"id":"c7778f8e.64e19","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/action","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":340,"wires":[["78aa09d5.c115d8"]]},{"id":"a845279d.3fc8e8","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/action","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":190,"y":280,"wires":[["3a73b8ab.47da58"]]},{"id":"3a73b8ab.47da58","type":"ui_text","z":"f583fdf2.6a17a","group":"fb4004ad.ebe558","order":3,"width":0,"height":0,"name":"","label":"Action actuelle :","format":"{{msg.payload}}","layout":"row-center","x":400,"y":280,"wires":[]},{"id":"78aa09d5.c115d8","type":"ui_text","z":"f583fdf2.6a17a","group":"8092dda6.44807","order":3,"width":0,"height":0,"name":"","label":"Action actuelle :","format":"{{msg.payload}}","layout":"row-center","x":400,"y":340,"wires":[]},{"id":"cd66a9d.131eb58","type":"ui_text","z":"f583fdf2.6a17a","group":"5c4d701d.bd0ad","order":3,"width":0,"height":0,"name":"","label":"Action actuelle :","format":"{{msg.payload}}","layout":"row-center","x":400,"y":400,"wires":[]},{"id":"79d4b181.a1826","type":"mqtt in","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/listeCroisement","qos":"2","datatype":"auto","broker":"7ed8f1d2.29a59","x":650,"y":340,"wires":[["5f31dd4c.7a2a34"]]},{"id":"8b9acfa4.09ba5","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/vitesse","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":850,"y":500,"wires":[]},{"id":"fe4234b2.32bc28","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/vitesse","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":850,"y":560,"wires":[]},{"id":"8aae2552.4fbaa8","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/vitesse","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":850,"y":440,"wires":[]},{"id":"2efd8eee.4364a2","type":"function","z":"f583fdf2.6a17a","name":"function","func":"var newMsg = { payload: 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["8aae2552.4fbaa8","8b9acfa4.09ba5","fe4234b2.32bc28"]]},{"id":"5e6084e8.efa1bc","type":"ui_button","z":"f583fdf2.6a17a","name":"","group":"7abd0134.3cd9","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":170,"y":540,"wires":[["2efd8eee.4364a2","b47c8dfa.3e2c"]]},{"id":"b47c8dfa.3e2c","type":"function","z":"f583fdf2.6a17a","name":"","func":"var newMsg = { payload: \"\"};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":660,"wires":[["7fb2fd5a.9848a4","10fa1671.0f689a","3b73f77b.be3708","ebffa2d2.fe3a6","4c43c60e.c36e88","668e0f82.fde31","514b8c15.969824"]]},{"id":"7fb2fd5a.9848a4","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/position","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":560,"wires":[]},{"id":"10fa1671.0f689a","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/position","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":620,"wires":[]},{"id":"3b73f77b.be3708","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/position","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":680,"wires":[]},{"id":"ebffa2d2.fe3a6","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r1/action","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":740,"wires":[]},{"id":"4c43c60e.c36e88","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r2/action","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":800,"wires":[]},{"id":"668e0f82.fde31","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/r3/action","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":490,"y":860,"wires":[]},{"id":"514b8c15.969824","type":"mqtt out","z":"f583fdf2.6a17a","name":"","topic":"TR54/g3/listeCroisement","qos":"","retain":"","broker":"7ed8f1d2.29a59","x":510,"y":920,"wires":[]},{"id":"14acb4a2.83850b","type":"ui_media","z":"f583fdf2.6a17a","group":"73f83582.a9524c","name":"","width":10,"height":7,"order":1,"category":"image","file":"circuit.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":870,"y":860,"wires":[[]]}]